* {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  font-size: 16px;
}

.light-background {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.light-element {
  background-color: hsl(0, 0%, 100%);
}

.dark-background {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.dark-element {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px;
}

#theme-icon {
  height: 2.5vh;
}

#theme-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#theme-p {
  border: 0;
  margin-left: 4px;
  font-weight: 600;
  font-size: 1.5vh;
}

main {
  height: fit-content;
  min-height: 100vh;
}

#searchBar {
  width: 80vw;
  min-height: 2.5rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
  border-radius: 0.5rem;
  border: 0;
  display: flex;
  align-items: center;
  color: gray;
}

#custom {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 2vh 0 2vh 0;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
/* ########################################################### */
.filter-bar {
  width: 80vw;
  min-height: 2.5rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
  border-radius: 0.5rem;
  border: 0;
  text-align: left;
}

#filter-bar-select {
  width: 100%;
  height: 100%;
  border: 0;
}

#cards {
  width: 90vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 55vw;
  height: 40vw;
  border-radius: 0.35rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
}

.flagSection {
  max-height: 55%;
}

.flagSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
}

#detailSection {
  padding: 2vw;
}

#cardName {
  font-size: 3vw;
  text-align: left;
}

#details {
  text-align: left;
  font-size: 2vw;
}

#landlockedContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 768px) {
  
  #custom {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 2vh 0 2vh 0;
    justify-content: center;
    gap: 1vw;
  }
  #searchBar {
    width: 18vw;
  }

  .filter-bar {
    width: 18vw;
    min-height: 2.5rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
    border-radius: 0.5rem;
    border: 0;
    text-align: left;
  }

  #cards {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5vw;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 40vw;
    border-radius: 0.35rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
  }

  .flagSection {
    min-height: 45%;
    max-height: 55%;
  }
  #detailSection {
    padding: 0 2vw 0 2vw;
  }
  #details {
    font-size: 1.5vw;
  }

  #cardName {
    font-size: 2.5vw;
    text-align: left;
  }
}
